.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  float: none;
  color: white !important;
}

.noRoute {
  text-align: center;
  padding: 50px;
  width: 100%;
}

.buttonWrapperTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  float: none;
  color: white !important;
}
