.buttonWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 100px;
  float: none;
  color: white !important;
}

.button {
  margin-right: 20px;
}

.noRoute {
  text-align: center;
  padding: 50px;
  width: 100%;
}
