.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  float: none;
}

.noRoute {
  text-align: center;
  padding: 50px;
  width: 100%;
}

.button {
  padding: 10px;
}
