.navbarLink {
  text-transform: uppercase;
  color: black;
  justify-content: center;
  font-size: 1.3 rem;
  font-family: 'Raleway';
}

.whiteIcon {
  color: white !important;
}

.pointerCursor {
  cursor: pointer !important;
}
