.container {
  height: 100vh;
  width: 100%
};

.fillScreen {
  min-height: 100vh;
}

.header {
  font-size: 32px;
  padding: 40px 0;
  font: 'Lato';
  @media screen and (max-width: 500px) {
    display: none;
  }
}
